<!-- Usando gem simple_form para o formulario -->
<%= simple_form_for artigo do |form| %>
  <%= form.input :titulo, label: "Título" %>
  <%= form.input :conteudo, label: "Conteúdo", input_html: { rows: 10 } %>
  <p>  
    <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
    <%= form.button :submit, class: "btn btn-success" %>
  </p>
<% end %>