<article class="blog-post">
  <h1><%= @artigo.titulo %></h1>
  <p class="blog-post-meta"><%=  dia_me_ano(@artigo.created_at) %><a href="#"> Chris</a></p>
  <p><%= @artigo.conteudo %></p>

  <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
  <%= link_to 'Edit', edit_artigo_path(@artigo), class: "btn btn-primary" %>
  
  <!-- Informando que o link_to está vinculado a acao de destroy do controler -->
  <%= link_to 'Destroy', artigo_path(@artigo),
    method: :delete,
    data: { 
      confirm: 'Are you sure'
    },
    class: "btn btn-danger"
  %>   

</article>
